.container {
  padding-top: 51px;
  padding-bottom: 24px;
  border-top: 1px solid #dcdcdc;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "category social contacts" "copyright . development";
  gap: 26px 20px;
}
@media (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 31px;
  }
}
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr 2fr 1fr;
    padding-top: 25px;
    padding-bottom: 16px;
    gap-row: 17px;
  }
}
@media (max-width: 540px) {
  .container {
    grid-template-columns: 1fr max-content;
    grid-template-areas: "category social" "contacts contacts" "development development" "copyright copyright";
    padding-top: 17px;
    gap: 24px;
  }
}

.title {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .title {
    font-size: 16px;
    line-height: 19px;
  }
}
@media (max-width: 540px) {
  .title {
    font-size: 14px;
    line-height: 17px;
  }
}

.link {
  transition: color 0.3s ease-in-out;
}
.link:hover {
  color: #8a8a8a;
}

.category {
  grid-area: category;
}
.categoryTitle {
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .categoryTitle {
    margin-bottom: 16px;
  }
}
@media (max-width: 540px) {
  .categoryTitle {
    margin-bottom: 8px;
  }
}
.categoryList {
  display: flex;
  gap: 80px;
}
@media (max-width: 1024px) {
  .categoryList {
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .categoryList {
    flex-direction: column;
    gap: 7px;
  }
}
.categorySubtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .categorySubtitle {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 0;
  }
}
.categorySublist {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 14px;
  line-height: 17px;
}
@media (max-width: 768px) {
  .categorySublist {
    display: none;
  }
}

.contacts {
  grid-area: contacts;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 18px;
  line-height: 22px;
}
@media (max-width: 768px) {
  .contacts {
    gap: 21px;
    font-size: 14px;
    line-height: 17px;
  }
}
@media (max-width: 540px) {
  .contacts {
    gap: 8px;
    font-size: 12px;
    line-height: 15px;
  }
}

.social {
  grid-area: social;
  justify-self: center;
}
.socialTitle {
  margin-bottom: 16px;
}
@media (max-width: 540px) {
  .socialTitle {
    margin-bottom: 8px;
  }
}
.socialSubtitle {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .socialSubtitle {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 16px;
  }
}
.socialList {
  display: flex;
  gap: 10px;
}
.socialLinkFB:hover {
  color: #3b5998;
}
.socialLinkVK:hover {
  color: #0077ff;
}

.copyright {
  grid-area: copyright;
  align-self: end;
  font-size: 12px;
  line-height: 130%;
}
@media (max-width: 768px) {
  .copyright {
    font-size: 10px;
  }
}

.development {
  grid-area: development;
  font-size: 12px;
  line-height: 130%;
}
@media (max-width: 768px) {
  .development {
    font-size: 10px;
  }
}
.developmentList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media (max-width: 768px) {
  .developmentList {
    gap: 11px;
  }
}
@media (max-width: 540px) {
  .developmentList {
    gap: 4px;
  }
}